html, body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
.styles_headerContainer__window_position {
    z-index: 3;
    position: sticky;
    width: 100%;
    top: calc(74px - var(--header-height, 200px));
}

.styles_header__props {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    font-family: Arial,Tahoma,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.styles_headerContainer__color {
    background: linear-gradient(90deg, rgba(0,0,0,1) 28%, rgb(215, 13, 13) 99%);
}

.styles_header__inner_props {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: inline-block;
    width: 100%;
}

.styles_header_width_height {
    width: 100%;
    height: 54px;
}

.styles_position__logo_Header{
    margin-top: 15px;
    margin-left: 15px;
    flex-direction: column;
}

.styles_font__logo_Header{
    font-style: oblique;
    font-weight: 800;
    -webkit-text-stroke: 2px rgb(164, 106, 8);
    font-size: 30pt;
    color: white;
}

.styles_font__signIn_Header{
    margin-right: 10px;
    float: right;
}

.styles_footer__props {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;
    min-width: 1024px;
    font-family: Arial,Tahoma,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.styles_footer__font {
    font-style: oblique;
    font-weight: 800;
    -webkit-text-stroke: 2px rgb(164, 106, 8);
    color: white;
}

/* Buttons */
.styles__signIn_Button {
    /*box-shadow: 0 1px 0 0 #fff6af;*/
    background:unset;
    /*border-radius:13px;*/
    /*border:3px solid #ffaa22;*/
    display:inline-block;
    cursor:pointer;
    color: #545454;
    font-size:20px;
    font-weight:bold;
    padding:9px 31px;
    text-decoration:none;
    /*text-shadow:0 1px 0 #ffee66;*/
}
.styles__signIn_Button:hover {
    color: #262626;
    /*background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);*/
    /*background-color:#ffab23;*/
}
/*.styles__signIn_Button:active {*/
/*  position:relative;*/
/*  top:1px;*/
/*}*/